<%- include('partials/header') %>

<%# include('nav') %>

<!-- PORTADA -->

<div class="bg-portada">

  <div class=" padding-portada">
    <div class=" text-sm-start">
      <h1>gonzalo lobos.</h1>
      <h3>fotógrafo <br>
        desarrollador web</h3>
                 <a href="#conversemos"><button type="button" class="btn btn-lg btn-secondary">Conversemos</button></a>
    </div>

  </div>

</div>


<!-- CATEGORIAS -->


<!-- <div class="contacontaineriner padding-section"> -->
<div class="text-center bg-negro ">
  <!-- Carrusel categorias -->
  <div id="carouselCategoria" class="carousel slide margin" data-bs-ride="carousel" data-interval="false">
    <div class="carousel-inner ">
      <div class="carousel-item active bg-categoria-1 height-section">
        <div class="vertical-centred ">
          <!-- <img class="d-block w-100 flex-img" src="./img/categoria_1_desktop.jpg" alt="categoria-retratos"> -->
          <a href="#conversemos"><button type="button" class="btn btn-lg btn-secondary ">retratos</button></a>
        </div>
      </div>
      <div class="carousel-item bg-categoria-2 height-section">
        <div class="vertical-centred">
          <!-- <img class="d-block w-100" src="./img/categoria_2_desktop.jpg" alt="categoria-productos"> -->
          <a href="#conversemos"><button type="button" class="btn btn-lg btn-secondary">productos</button></a>
        </div>
      </div>
      <div class="carousel-item bg-categoria-3 height-section">
        <div class=" vertical-centred">
          <!-- <img class="d-block w-100" src="./img/categoria_3_desktop.jpg" alt="categoria-eventos"> -->
          <a href="#conversemos"><button type="button" class="btn btn-lg btn-secondary">eventos</button></a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselCategoria" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselCategoria" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>


</div>


<!-- </div> -->


<div class="bg-dark">

  <!-- <img src="https://storage.googleapis.com/gonzalo_lobos_bucket/quiensoy-desktop.jpg" alt=""> -->


  <div id="carouselQuienSoy" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselQuienSoy" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselQuienSoy" data-bs-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active bg-quienSoy-a  height-section">
        <div class="container vertical-centred-quienSoy ">
          <h1>quien soy</h1>
          <p>Soy Gonzalo, fotógrafo publicitario y desarrollador web. He participado en proyectos de moda, catalogo de productos y trabajo editorial para distintas marcas. Estudié fotografía en Instituto Arcos y estoy actualmente tomando cursos de estética para seguir especializándome. Además de trabajar freelance, trabajo como asistente de fotografía en estudio Fe y apoyamos a marcas en el desarrollo web de su marca.</p>
        </div>
      </div>
      <div class="carousel-item bg-quienSoy-b height-section">
        <div class="container vertical-centred-quienSoy">
               <h1>que hago</h1>
          <p>Mi forma de trabajar se adapta a las necesidades del cliente y las referencias que tenga en mente. A partir de ese punto generamos un plan de trabajo para lograr que el trabajo sea satisfactorio segun la estrategia trazada.</p>
          <p>Contáctame y desarrollemos juntos tu proyecto</p>
                 <a href="#conversemos"><button type="button" class="btn btn-lg btn-secondary">Conversemos</button></a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselQuienSoy" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carouselQuienSoy" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>


</div>









<div class="bg-desarrolloWeb">
  <div class="container text-left padding-section-desarrolloWeb ">
    <h1>desarrollo web</h1>
    <p>Si tienes una marca o estas en proceso de creacion, y deseas generar una página web pero no sabes por donde empezar, no dudes en contactarme.
      Te acompañaremos en el proceso de desarrollo de marca, maquetación, creación de catálogo e imágenes
      corporativas y desarrollo web.
      Si quieres saber en detalle sobre nuestro trabajo, haz click en el siguiente link.</p>
    <a href="http://simpleycreativo.cl"> <button type="button" class="btn btn-lg btn-primary"> Simple y Creativo.cl</button></a>

  </div>
</div>

<!-- Conversemos -->

<div class="bg-dark padding-section-conversemos ">
  <div class="container borde-caja square text-left ">
    <div class="content">
    <h1 id="conversemos">conversemos</h1>
    <p>Gonzalo Lobos</p>
    <p>gonzalo.lobos.ramirez@gmail.com</p>
    <p>+569 659 610 86</p>
    <p> Santiago - Valle del Aconcagua</p>
</div>

  </div>
</div>


<%# include('form') %> 


<%- include('partials/footer') %>