
    <%- include('partials/header') %>
<div class="bg-portada">



<!-- PORTADA -->

    <div class=" padding-portada">
        <div class="text-left">
<h1>gonzalo lobos.</h1>
<h3>fotógrafo <br>
desarrollador web</h3>
<button type="button" class="btn btn-lg btn-primary">trabajos</button>
</div>

</div>



</div>
<!-- CATEGORIAS -->
<div class="separacion-secciones "></div>

<!-- <div class="contacontaineriner padding-section"> -->
<div class="text-center">
<!-- Carrusel categorias -->
<div id="carouselExampleControls" class="carousel slide margin " data-ride="carousel">
  <div class="carousel-inner ">
    <div class="carousel-item active bg-categoria-1 ">
        <div class="padding-section  ">
      <!-- <img class="d-block w-100 flex-img" src="./img/categoria_1_desktop.jpg" alt="categoria-retratos"> -->
       <button type="button" class="btn btn-lg btn-secondary ">retratos</button>
       </div>
    </div>
    <div class="carousel-item bg-categoria-2">
        <div class="padding-section ">
      <!-- <img class="d-block w-100" src="./img/categoria_2_desktop.jpg" alt="categoria-productos"> -->
             <button type="button" class="btn btn-lg btn-secondary">productos</button>
   </div>
            </div>
    <div class="carousel-item bg-categoria-3">
        <div class="padding-section ">
      <!-- <img class="d-block w-100" src="./img/categoria_3_desktop.jpg" alt="categoria-eventos"> -->
             <button type="button" class="btn btn-lg btn-secondary">eventos</button>
    </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


</div>

<div class="separacion-secciones"></div>
    
<!-- </div> -->



<div>

    
</div>

    <%- include('partials/footer') %>