/* negro: #222831 
blanco: #eeeeee
turquesa: #00ADB5 (0, 173, 181)

*/


*{
    color: #eeeeee;
}

h1,h2,h4{
    font-family: 'Bitter',
    serif;
}



h3, p{
    font-family: 'Raleway',
sans-serif;
}

.btn-primary{
background-color: transparent;
border-radius: 0%;
border-color: #eeeeee;
    padding: 20px 35px;
    font-size: 1.5rem;

}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    border-color: transparent;
    background-color: #00ADB5;
}



.btn-secondary {
    background-color: rgba(30, 30, 30, 45%);
    border-radius: 0%;
    border-color: #eeeeee;
    padding: 20px 35px;
    font-size: 1.5rem;

}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    border-color: transparent;
    background-color: rgba(0, 173, 181, 100%)
}

/* background */
.bg-negro{
    background-color: #222831;
}
.bg-portada{
    background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/portada_desktop.jpg");
    /* background-position: 50% 40%; */
    /* Center the image */
      background-repeat: no-repeat;
      /* Do not repeat the image */
      background-size: cover;
      /* Resize the background image to cover the entire container */
}


.bg-categoria-1{
   background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/categoria_1_desktop.jpg");
         background-repeat: no-repeat;
         /* Do not repeat the image */
         background-size: cover;
         background-position: right;
         /* Resize the background image to cover the entire container */
}
.bg-categoria-2 {
   background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/categoria_2_desktop.jpg");
         background-repeat: no-repeat;
         /* Do not repeat the image */
         background-size: cover;
                background-position: right;
         /* Resize the background image to cover the entire container */
}
.bg-categoria-3 {
   background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/categoria_3_desktop.jpg");
         background-repeat: no-repeat;
         background-position: center;
         /* Do not repeat the image */
         background-size: cover;
         /* Resize the background image to cover the entire container */
}

@media (max-width: 768px) and (orientation: portrait) {
    .bg-categoria-1{
   background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/categoria_1_mobile.jpg");
        background-position: center;

    }
.bg-categoria-2 {
   background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/categoria_2_mobile.jpg");
      background-position: center;

}
.bg-categoria-3 {
   background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/categoria_3_mobile.jpg");

}
.bg-portada {
    background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/portada_mobile.jpg");
}
}



/* Espaciado */
.padding-section{
    padding: 50vh 0;
}
.padding-portada{
    padding: 50vh 20vh
}

.separacion-secciones{
height: 5vh;
background-color: #222831 ;
}


/* Carrusel section */

.flex-img{
position: relative;
}


/* Nav */
.navbar{

    display: flex;
}