/* negro: #222831 
blanco: #eeeeee
turquesa: #00ADB5 (0, 173, 181)

*/


*{
    color: #eeeeee;
}

h1,h2,h4{
    font-family: 'Bitter',
    serif;
}



h3, p{
    font-family: 'Raleway',
sans-serif;
}

.btn-primary{
background-color: transparent;
border-radius: 0%;
border-color: #eeeeee;
    padding: 0.7rem 1.5rem;
    font-size: 1.5rem;

}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    border-color: transparent;
    background-color: #00ADB5;
}



.btn-secondary {
    background-color: rgba(30, 30, 30, 45%);
    border-radius: 0%;
    border-color: #eeeeee;
    padding: 0.7rem 1.5rem;
    font-size: 1.5rem;

}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    border-color: transparent;
    background-color: rgba(0, 173, 181, 100%)
}

/* background */
.bg-dark{
    background-color: #222831;
}
.bg-portada{
    background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/portada_desktop.jpg");
    background-position: 50% 40%;
    /* Center the image */
      background-repeat: no-repeat;
      /* Do not repeat the image */
      background-size: cover;
      /* Resize the background image to cover the entire container */
}


.bg-categoria-1{
   background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/categoria_1_desktop.jpg");
         background-repeat: no-repeat;
         /* Do not repeat the image */
         background-size: cover;
         background-position: right;
         /* Resize the background image to cover the entire container */
}
.bg-categoria-2 {
   background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/categoria_2_desktop.jpg");
         background-repeat: no-repeat;
         /* Do not repeat the image */
         background-size: cover;
                background-position: right;
         /* Resize the background image to cover the entire container */
}
.bg-categoria-3 {
   background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/categoria_3_desktop.jpg");
         background-repeat: no-repeat;
         background-position: center;
         /* Do not repeat the image */
         background-size: cover;
         /* Resize the background image to cover the entire container */
}

.bg-quienSoy-a {

   background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/quiensoy-desktop.jpg");
   background-position: top right;
         background-repeat: no-repeat;
          background-size: cover;

}

.bg-quienSoy-b {
   background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/quiensoy-desktop.jpg");
      background-position: top right;
             background-repeat: no-repeat;
              background-size: cover;
 

}

@media (max-width: 768px) and (orientation: portrait) {
    .bg-categoria-1{
   background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/categoria_1_mobile.jpg");
        background-position: left;

    }
.bg-categoria-2 {
   background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/categoria_2_mobile.jpg");
      background-position: center;

}
.bg-categoria-3 {
   background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/categoria_3_mobile.jpg");
    background-position: left;

}
.bg-portada {
    background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/portada_mobile.jpg");
}

.bg-quienSoy-a{ 
      background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/quiensoy-a-mobile.jpg");

      background-position: left;
      /* Do not repeat the image */
      background-size: cover;
      /* Resize the background image to cover the entire container */
}
.bg-quienSoy-b {
                background-image: url("https://storage.googleapis.com/gonzalo_lobos_bucket/quiensoy-b-mobile.jpg");
         

                background-position: right;
                /* Do not repeat the image */
                background-size: cover;
                /* Resize the background image to cover the entire container */
        }
        
    }
        /* nav */



/* Espaciado */
.padding-section{
    padding: 30vh 0;
}
.padding-portada{
    padding: 38vh 20vh
}

.padding-section-desarrolloWeb{
    padding: 20vh 0;
}

.separacion-secciones{
height: 5vh;
background-color: #222831 ;
}

.height-section{
    height: 90vh;
}

.vertical-centred{
    padding: 40vh 20% 0;

}

@media (max-width: 768px) and (orientation: portrait) {
.vertical-centred {
    padding: 28vh 20% 0;

}
}

/* Carrusel section */

.flex-img{
position: relative;
}


/* Nav */
.navbar{

    display: flex;
}

/* Form */
.form-control {
background-color: transparent;
border-radius: 0%;
border-color: #eeeeee;
}

.form-control:active,
.form-control:focus {
background-color: transparent;
}
